<div class = "container">
  <div class = "row">
    <h1>商品一覧</h1>
  </div>
  <div class = "row my-3">
    <div class = "col-12">
      <%= form_with url: root_path, local: true, method: :get do |f| %>
        <h5>ジャンルで絞り込む</h5>
        <%= f.select :genre, @all_genre, include_blank: true %>
        <%= f.submit "取得する" %>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-5 pr-4 border-right">
      <!--一覧表-->
      <table class = "table" style = "font-size: 12px">
        <tr>
          <th>商品名</th>
          <th>値段</th>
          <th>ジャンル</th>
          <th></th>
          <th></th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.genre %></td>
            <!--初期データ以外編集・削除可能-->
            <td><%= "編集" if product.id > 8 %></td>
            <td><%= "削除" if product.id > 8 %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class = "col-7">
      <!--条件を満たしていればSQL文-->
      <% if @sql == "sort_genre" %>
        <p class = "my-2">
          <%= "SELECT * FROM #{@table_name}" %><br>
          <%= "WHERE genre = \"#{@genre_keyword}\"" %>  <!--「\"」とすることでダブルクオーテーションを文字列として埋め込める-->
        </p>
      <% end %>
    </div>
  </div>
</div>
